@import '../../styles/variables';

.giphy__gif {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    box-shadow: 4px 4px 10px 0px #E9E9E9;
    padding: 5px 5px 15px;
    margin: 20px;
    cursor: default;
    &:hover {
        box-shadow: 10px 10px 10px 0px #E9E9E9;
    }
}
.giphy__title, .giphy__copy-wrapper {
    @include ellipsis;
    width: inherit;
    text-align: center;
    font-size: 13px;

}
.giphy__copy-wrapper {
    color: $darkGrayTextColor;
    margin: 5px;
    cursor: pointer;
    &:hover {
        color: darken($color: $darkGrayTextColor, $amount: 40)
    }
}
