@import '../../styles/global';
@import '../../styles/variables';

.giphy__initial-text span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.giphy__gifs {
    display: flex;
    flex-wrap: wrap;
}
.giphy__details {
    margin: 40px 20px 10px;
    font-size: 24px;
}

.giphy__navbtn {
    background: $lightGrayMainBtn;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}
.giphy__loader {
    display: block;
    text-align: center;
    font-size: 24px;
    margin: 20px;
}