//  ----- Colors -----

$grayHeaderBcg: #2B2B2A;
$greenHeaderBtn: green;
$lightGrayMainBtn: lightgray;

// ----- Typography ----- 

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
$fontFamilyHeader: 'Alfa Slab One', cursive;

// ----- Mixins -----
