//  ----- Colors -----

$grayHeaderBcg: #2B2B2A;
$greenHeaderBtn: green;
$lightGrayMainBtn: #C5C5C5;
$darkGrayTextColor: #767676;

// ----- Typography ----- 

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
$fontFamilyHeader: 'Alfa Slab One', cursive;

// ----- Mixins -----
@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}