@import '../../styles/global';
@import '../../styles/variables';

.giphy__header {
    font-family: $fontFamilyHeader;
    background: $grayHeaderBcg;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin-bottom: 20px;
    span {
        font-size: 25px;
        
    }
    button {
        padding: 9px 15px;
        background: $greenHeaderBtn;
        box-shadow: none;
        border: none;
        color: white;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    input {
        padding: 6px;
        border-bottom-left-radius: inherit;
        border-top-left-radius: inherit;
        border: none;
        box-shadow: none;
        border: 3px solid $greenHeaderBtn;
    }
    .search {
        border-radius: 10px;
    }
}