@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

.giphy__header {
    font-family: 'Alfa Slab One', cursive;
    background: #2B2B2A;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    span {
        font-size: 25px;
        
    }
    button {
        padding: 9px 15px;
        background: #00B200;
        box-shadow: none;
        border: none;
        color: white;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    input {
        padding: 6px;
        border-bottom-left-radius: inherit;
        border-top-left-radius: inherit;
        border: none;
        box-shadow: none;
        border: 3px solid #00B200;
    }
    .search {
        border-radius: 10px;
    }
}